services:
    sso-dev:
        build:
            context: .
            dockerfile: Dockerfile.dev
        volumes:
            - .:/app
            - node_modules:/app/node_modules
        environment:
            - APP_NAME=monorepo
            - NEXT_PUBLIC_API_GATEWAY_URL=https://app.uln.me
            - NODE_ENV=development
        stdin_open: true
        tty: true
        networks:
            - traefik-net
        labels:
            - "traefik.enable=true"

            - "traefik.http.routers.sso-dev.rule=Host(`sso-dev.uln.me`)"
            - "traefik.http.routers.sso-dev.entrypoints=websecure"
            - "traefik.http.routers.sso-dev.tls=true"
            - "traefik.http.services.sso-dev.loadbalancer.server.port=8080"
            - "traefik.http.routers.sso-dev.service=sso-dev"

networks:
    traefik-net:
        external: true

volumes:
    node_modules:
