services:
    auth-dev:
        build:
            context: .
            dockerfile: Dockerfile.dev
        volumes:
            - .:/app
            - node_modules:/app/node_modules
        environment:
            - APP_NAME=monorepo
            - NEXT_PUBLIC_USSO_URL=https://app.uln.me
            - NODE_ENV=development
        stdin_open: true
        tty: true
        networks:
            - traefik-net
        labels:
            - "traefik.enable=true"

            - "traefik.http.routers.auth-dev.rule=Host(`auth-dev.uln.me`)"
            - "traefik.http.routers.auth-dev.entrypoints=websecure"
            - "traefik.http.routers.auth-dev.tls=true"
            - "traefik.http.services.auth-dev.loadbalancer.server.port=8080"
            - "traefik.http.routers.auth-dev.service=auth-dev"

networks:
    traefik-net:
        external: true

volumes:
    node_modules:
